<ion-header>

</ion-header>

<ion-content >

  <br>
  <br>
  <br>

    <ion-item style="padding-top: 5%;">
        <ion-label>Usuario</ion-label>
        <ion-input required [(ngModel)]="user.email" value="admin@gmail.com"></ion-input>
    </ion-item>

    <ion-item style="padding-top: 5%;">
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" required [(ngModel)]="user.password" value="123456"> </ion-input>
    </ion-item>

    <br>

    <ion-button class="buttonColor" expand="full" (click)=logIn($event)> Entrar </ion-button>
    
    <br>
    <!--Necesitas <a href="/register">Crear cuenta</a> ? -->
	
    <div color="medium" class="spin" *ngIf="loggingIn">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>


    <div class="wrapper">
      <div class="icon facebook" (click)=usuario(mails[0])>
        <div class="tooltip">Tomas</div>
        <span><i class="fab fa-facebook-f"> <img src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Fchat.png?alt=media&token=fc71166b-7730-4f9c-84f6-4cb5cda9a4d9">
         </i></span>
      </div>
      <div class="icon twitter" (click)=usuario(mails[1])>
        <div class="tooltip">Asd</div>
        <span><i class="fab fa-twitter">
          <img src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Fchat%20(3).png?alt=media&token=310f7ff4-fe44-4ba4-a08e-d62117b2dcf6">
        </i></span>
      </div>
      <div class="icon instagram" (click)=usuario(mails[2])>
        <div class="tooltip">test123</div>
        <span><i class="fab fa-instagram">
          <img src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Fchat%20(2).png?alt=media&token=42c2b545-49e4-4e37-9b21-0952cef1aa86">
        </i></span>
      </div>
      <div class="icon youtube" (click)=usuario(mails[3])>
        <div class="tooltip">admin</div>
        <span ><i class="fab fa-youtube">
          <img src="https://firebasestorage.googleapis.com/v0/b/pps1-251a8.appspot.com/o/assets%2Fanimales%2Fchat%20(1).png?alt=media&token=dc1de55c-2926-4e64-b3cb-8b1a278fb71a">
        </i></span>
      </div>
    </div>

    
    <!--button class="button-34" role="button" (click)="usuario('tomas@gmail.com')">tomas</!--button>
    <button class="button-34" role="button" (click)="usuario('asd@gmail.com')">asd</button>
    <button class="button-34" role="button" (click)="usuario('test123@gmail.com')">test</button>
    <button-- class="button-34" role="button" (click)="usuario('admin@gmail.com')">admin</button-->

    <!--ion-item color="medium" >
      <ion-label>Elegir Usuario</ion-label>
      <ion-select color="medium" placeholder="Elegir usuario" (ionChange)=usuario($event)>
        <ion-select-option color="medium" value="tomas@gmail.com">tomas@gmail.com</ion-select-option>
        <ion-select-option color="medium" value="asd@gmail.com">asd@gmail.com</ion-select-option>
        <ion-select-option color="medium" value="test123@gmail.com">test123@gmail.com</ion-select-option>
        <ion-select-option color="medium" value="admin@gmail.com">admin@gmail.com</ion-select-option>
      </ion-select>
    </!--ion-item-->

</ion-content>
